<%= render 'shared/nav_bar' %>

<div class="row">
   <ul>
    <% @categories.each do |category| %>
    <div class="category col-md-2">
      <li><%= link_to "Browse By Category: #{category.name}", category %> </li>
    </div>
    <% end %>
  </ul>
</div>
