
    <div class="order" data-status="<%= order.status %>">
      <li>
        Order: <%= link_to order.id, admin_order_path(order)%>
        updated: <%= time_ago_in_words(order.updated_at) %> ago
      </li>
      <dl>
        <dt>Status</dt>
        <dd class="order_status"><%= order.status %></dd>
      </dl>
    </div>
    <br><br>
