<%= render "filter" %>

<div class="orders">
  <% @orders.each do |order| %>
    <div class="order" data-status="<%= order.status %>">
    <dl>
      <dt>Status</dt>
      <dd class="order_status"><%= order.status %></dd>
      <dd><%= order.id %></dd>
    </dl>
  </div>
  <% end %>
</div>
