<h1 class="admin-order-title">Manage All Orders</h1>

<%= render "filter" %>

<div class="orders">
  <% @orders.reverse.each do |order| %>
    <div class="order" data-status="<%= order.status %>">
    <dl>
      <dt><%= link_to "Order ID: #{order.id}" , admin_order_path(order) %> </dt>
      <td>Updated <%= time_ago_in_words(order.updated_at) %> ago</td>
    </dl>
  </div>
  <% end %>
</div>

