<h3><%= current_user.username %>'s Orders</h3>

<ol>
  <% @orders.each do |order| %>
    <% order.cart.each do |item_id, quantity| %>
    <li>
      <%= link_to Item.find(item_id).name, item_path(item_id)%>
      <%= quantity %>
    </li>
    <% end %>
  <% end %>
</ol>
