@import 'item';
@import 'orders';
@import 'base';

body {
  background: image-url('confectionary.png') repeat;
  background-attachment: fixed;
}

.logo {
  margin-right: 10px;
}

.hero{
  background-image: image-url('hero_pic.png');
}

.navbar {
  margin-right: 23px;
  margin-top: 35px;
}


// .item_cat {
//   // width: 100%;
//   // margin: 0 auto;
//   border: 1px solid red;
// }

.toasty {
  // margin-left: 120px;
  // margin-right: 110px;
}

.floaters {
  width: 23%;
  float: left;
  margin: 10px;
}

li {
  list-style-type:none;
}

input[type="submit"] {
  width: 80%;
  display:block;
  text-align:center;
  margin: 0 auto;
  @include border-radius(5px);
}

#cart-title {
  width: 100%;
  text-align:center;
  margin-bottom:50px;
}


h4 {
  text-align: center;
  margin-bottom: 20px;
}

.login-form div{

}

.item-create {
  background: rgba(43,58,223,0.2);
  width: 500px;
  border: 1em;
  border-color: black;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
}
